.status {
  font-size: 6rem;
  margin: 4rem -50rem;
  color: var(--clr-text);
}

.board-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: .5rem;
  border-radius: 1rem;
  overflow: hidden;
}

button {
  border: 1px solid transparent;
  width: 5rem;
  height: 5rem;
  background-color: #00000017;
  color: var(--clr-text);
  cursor: pointer;

  font-size: 3em;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
}

.replay-btn{
  margin-top: 3rem;
  border-radius: 50%;
  display: grid;
  place-items: center;
}

.replay-btn__img{
  width: 80%;
}