.status {
  text-align: center;
  font-size: 6rem;
  margin: 4rem -50rem;
  color: #7a3ab2;
}

.board-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: .5rem;
  border-radius: 1rem;
  overflow: hidden;
}

button {
  border: 1px solid transparent;
  width: 5rem;
  height: 5rem;
  background-color: #0080802b;
  color: #7a3ab2;
  cursor: pointer;

  font-size: 3em;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
}